.carting-product-wrapper {
	color:#fff;
	font-weight: bold;
	margin:0 5px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #84a4db;
	padding: 4px;
	font-size:14px;
	text-align: right;
}
.carting-product {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.carting-product div{
	display: inline-block;
	text-align: center;
	justify-content: center;
	padding: 2px 4px;
}
.carting-product .price-comparator {

	background:#15ed4f;
	border-radius: 7px;

}

.carting-product .help {
	border-radius: 15px;
	cursor: pointer;
	background-color:#0a1378;
	text-align: center;
	justify-content: center;
	padding:5px;
	font-size:13px;

}
.carting-product .selected-help {
	background-color:#4f79d1;
}
.replcement-name {
	color:#0a1378;
}
.price-change {
	color:#2ad457;
	padding:3px;
}

.hidden {
	display: none;
}


.carting-product-suggestion-wrapper {
	display:none;
}


.carting-product-suggestion {
	font-weight: bold;
	margin:0 5px;
	background-color: #fafafa;
	border-bottom: 1px solid #d2d2d2;
	padding: 4px;
	font-size:14px;
	text-align: right;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.3s;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.carting-product-suggestion:hover {
	background-color: #fefefe;
	opacity: 1;

}

.carting-product-suggestion div{
	display: inline-block;
	text-align: center;
	justify-content: center;
	padding: 2px 4px;
}
.price-comparator {
	padding:1px 3px;
	background:#15ed4f;
	border-radius: 7px;
	color: #fff;
	display: inline-block;
}


.suggestion-container-wrapper .arrow {
	width:12px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #0a1378;
	position: relative;
	right:3px;
}

.suggestion-container-wrapper .suggestion-container div {
	flex:1;
	padding:4px;
	margin:0 4px;
	background-color: #c2c2c2;

}
.suggestion-container-wrapper .suggestion-container div:hover {
	background-color: #fff;
}

.suggestion-container div img {
	max-height: 100%;
	cursor: pointer;
}


.total-cart {
	font-size: 14px;
}
#total-price-change {
	margin:0 5px;
}
.help-button {
	position: absolute;
	top:14px;
	right:14px;
	z-index: 9999999999999;
}
.help-modal-content {
	display: flex;
	justify-content: space-between;

}
.help-modal-content {
	font-size: 34px;
	justify-content: center;

}
.help-modal-content img {
	float:left;
	height:80%;
}

.buy-btn {
	width:300px;
	height:80px;
	display: inline-block;
	background: #42ea29!;
}
.buy-btn-finish {
	padding:0 20px;
	display: inline-block;
}
.cmp-table {
	text-align: center;
	margin:0 auto;
}
.cmp-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.cmp-table th,
.cmp-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.cmp-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.cmp-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cmp-table tr:hover {
  background-color: #e6e6e6;
}
